<!-- <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>PersoTattoo : Décrivez votre projet à l'un de nos 150 artistes pour qu'il dessine votre tatouage sur-mesure : une fois finalisé, testez-le sur votre peau grâce à un tatouage temporaire puis transmettez-le à votre tatoueur pour la version définitive.</p>
      </div>
    </div>
  </div>
</div>
 -->
