
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="<%= active_class(me_path)%>"><a href="me">Mes projets</a></li>
    <li role="presentation" class="<%= active_class(me_winnings_path)%>"><a href="me_winnings">Mes propositions</a></li>
    <li role="presentation" class="<%= active_class(me_path)%>"><a href="users/edit">Mon profil</a></li>
  </ul>
