<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Obtenir mon tattoo personnalisé", new_project_path %>
|
<%= link_to "Créer mon compte artiste", sign_up_artist_path %>
