.card-devise {
  background: #ECECEC;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  border-radius: 6px;
}

.form-control{
  width:80%;
  margin: 0 auto;


}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center center !important;
  color: white;
  position: relative;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.7);

  .card-hide {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 12px;
    z-index: 2;
  }
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.countdown {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  text-transform: uppercase;
  right: 0;
  bottom: 0;
}
.card-description {
  text-align: center;
  width: 100%;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  left: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.label-success {
  background-color: #32B796;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  font-size: 16px;
  text-shadow: none;
}
